header {
  background-color: #282c34;
  padding: 20px 16px;
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;
  background-color: #282c34;
}

section {
  padding: 40px 16px;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
